header {
    text-align: center;
}

section {
    background-color: aquamarine;
    padding: 10px;
    margin: auto;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

input {
    border-radius: 10px;
}

footer {
    text-align: center;
}

input:hover {
    background-color: gray;
    color: white;
}

#res {
    color: black;
    margin: 10px;
}

img {
    height: 150px;
    border-radius: 100px;
}